h1 {
  color: white;
  background-color: black;
}

footer {
  color: white;
  background-color: black
}

section {
  column-count: 4;
  column-rule: 1px solid #ccc;
  text-align: justify
}

body {
  font-family: 'Russo One', sans-serif
}

h1 {
  font-family: 'Yeseva One', cursive
}
